<footer>
  &copy; 2017 Red Hat, Inc. This website is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> and the code lives in <a href="https://gitlab.com/osas/theopensourceway.org.git">gitlab.com/osas/theopensourceway.org.git</a>.
</footer>
