// Please copy default.scss to site.scss to customize your site.
//
// If site.scss (or site.sass) exists, then default.scss will not
// be used. (You can then use it for reference later.)
//
// Be sure to `@import "minima"` after the variables needed for it
// and before your own custom CSS, so you can easily override
// (if you really need to).

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, Liberation Sans, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1rem;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    60em;

// Import partials from the `minima` theme.
@import "minima";

// Navbar (check out lib/navbar.sass for customizable options)
@import "lib/navbar.sass";

// Stretch the page to fill the browser
// (but allow it to scroll further too)
@import "lib/stickyfooter.sass";

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
